<div class="container">

<div class="{{mode()}}">
  <img src="bg__auth.svg" alt="background christmas decorations" class="deco">
</div>


<footer class="{{footer_mode()}}">

  <div class="footer__data">
  <img src="logo__secret-santa.svg" alt="secret santa logo" class="{{logo_mode()}}">

    <div class="footer__text">

      <div class="footer__text-copy">
        Copyright ©2023. Ah Ha Creative, LLC. All Rights Reserved.
      </div>

      <div class="footer__text-links">
        <a href="#" class="text-scotchMist">Terms & Conditions</a>
        <a href="#" class="text-scotchMist">Privacy Policy</a>
        <a href="#" class="text-scotchMist">Disclaimers</a>
      </div>

    </div>
  </div>

</footer>

</div>
