.field-container {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 50px;
}

.field-container__input-field {
  height: 8vh;
  width: 20vw;
  background-color: #70bd91;
  border-radius: 10px;
  padding-left: 1vw;
  font-family: Bebas Neue, serif;
  font-size: 3.5vh;
}

.field-container__placeholder {
  color: black;
  padding-left: 1vw;
  font-family: Bebas Neue, serif;
  font-size: 5vh;
  position: absolute;
  top: 0.5vh;
  left: 0;
  transition: 1s;
}

.field-container__input-field:not(:placeholder-shown) ~ .field-container__placeholder {
  font-size: 1.5vh;
  transition: 1s;
}

.field-container__input-field:focus ~ .field-container__placeholder {
  font-size: 1.5vh;
  transition: 1s;
}

.field-container__icon {
  height:5vh;
  width: 5vh;
  position: absolute;
  top: 1.5vh;
  right: 1vw;
}
